# @file
#
# Copyright 2020, Verizon Media
# SPDX-License-Identifier: Apache-2.0
#

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pyflakes = "*"

[packages]
autest = "==1.10.0"
hyper = "*"
pyOpenSSL = "*"
eventlet = "*"

asyncio = "*"
aioquic = "*"
wsproto = "*"

[requires]
# We have to pin to 3.8 because MacOS 3.9 has an issue which produces this
# message in many packages (we see it in selectors):
# TypeError: changelist must be an iterable of select.kevent objects
#
# Do a google search on that...most package issues say to use pre-3.9 Python.
python_version = "3.8"
